<h2> Rentals </h2>
{{filter-listing filteredList=filteredList
autoComplete=(action 'autoComplete') search=(action 'search')}}
{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
